@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');
:root {
    --main-font-family: 'Merriweather', serif;
    --main-color: #3c3c3c;
}

body {
    font-family: var(--main-font-family);
    color: var(--main-color);
    min-width: 1900px;
}

.wrapper {
    width: 1490px;
    margin: 0 auto;
}


/******* Header *******/

#header {
    background-color: #eeefef;
    background-image: url("./images/header/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 55px;
    padding-bottom: 370px;
}

.header__menu {
    box-sizing: border-box;
    width: 620px;
    margin: 0;
    margin-left: 960px;
    margin-bottom: 305px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header__menu__item {
    display: flex;
    padding: 15px 20px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.header__menu__item:hover,
.header__menu__item:active,
.header__menu__item:focus {
    border-color: #6e6e6e;
}

.header__menu__link {
    text-decoration: none;
    color: var(--main-color);
}

.header__title {
    width: 570px;
    height: auto;
    margin-left: 975px;
    text-align: center;
}

.header__title h1 {
    font-size: 40px;
    line-height: 55px;
    font-weight: 100;
}


/******* 3 Columns *******/

.three-columns {
    background: url('./images/3columns/columns-bg.png') repeat;
}

.columns--flex {
    display: flex;
    justify-content: space-around;
}

.columns__item {
    width: 380px;
    padding: 65px 30px;
    text-align: center;
}

.columns__item h3 {
    text-transform: uppercase;
}


/******* Specials *******/

.special {
    padding-top: 75px;
    padding-bottom: 100px;
}

.special__title {
    text-align: center;
    margin-bottom: 55px;
}

.special__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.special__item {
    display: flex;
    height: 248px;
}

.special__title h2 {
    font-size: 40px;
    line-height: 55px;
    font-weight: 100;
    margin: 30px 0;
}

.item_desc {
    background-color: #f8f8f8;
    text-align: center;
    padding: 25px;
}

.item_desc h4,
.item_desc b {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin: 10px 0;
}

.item_desc .hr {
    border-top: 1px solid #383838;
    width: 88px;
    margin: 0 auto;
}

.item_desc p {
    font-size: 16px;
    line-height: 18px;
}


/******* About *******/

.about {
    padding: 210px 0 160px 0;
    background-color: #eeefef;
}

.about__title {
    width: 635px;
    text-align: center;
    position: relative;
}

.about__title h2 {
    font-size: 40px;
    font-weight: 100;
    line-height: 55px;
    margin-bottom: 25px;
}

.about__title p {
    font-size: 30px;
    font-weight: 100;
    line-height: 55px;
    margin-bottom: 40px;
}

.about__sign {
    float: right;
}

.clearfix::after {
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.about__image {
    position: absolute;
    top: -190px;
    left: 700px;
}


/******* Menu *******/


/******* Contacts *******/

.contact {
    padding-top: 60px;
    background-color: #eeefef;
    background-image: url('./images/contact/contact-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact__wrapper {
    width: 570px;
}

.contact__title {
    text-align: center;
}

.contact__title h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 100;
    line-height: 55px;
}

.contact h4 {
    font-size: 18px;
    text-transform: uppercase;
}

.contact__form input {
    font-size: 18px;
    background-color: transparent;
}

.contact__form input[type="text"],
.contact__form input[type="email"] {
    font-style: italic;
    border: none;
    border-bottom: 1px solid var(--main-color);
}